<div class="send-request">
  <!-- <button
    nzShape="round"
    nz-button
    nzType="default"
    [disabled]="setOfCheckedId.size === 0"
  >
    <i nz-icon nzType="clear" nzTheme="outline"></i>Cập nhật trạng thái ({{
      setOfCheckedId.size
    }})
  </button> -->
  <button
    nzShape="round"
    nz-button
    nzType="primary"
    (click)="showXacNhanDonHang()"
    [disabled]="setOfCheckedId.size === 0"
  >
    <i nz-icon nzType="check-circle" nzTheme="outline"></i>Xác nhận đơn({{
      setOfCheckedId.size
    }})
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button
    nzShape="round"
    nz-button
    nzDanger
    (click)="showXoaTatCaDonHang()"
    [disabled]="setOfCheckedId.size === 0"
  >
    <i nz-icon nzType="clear" nzTheme="outline"></i>Xoá tất cả ({{
      setOfCheckedId.size
    }})
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button
    nz-button
    nzShape="round"
    nzType="primary"
    [disabled]="setOfCheckedId.size === 0"
    (click)="showTiepNhanNhieuDon()"
  >
    <i nz-icon nzType="reconciliation" nzTheme="outline"></i>Tiếp nhận đơn ({{
      setOfCheckedId.size
    }})
  </button>
  <nz-divider nzType="vertical"></nz-divider>
  <button
    nzShape="round"
    nz-button
    nzType="primary"
    [disabled]="setOfCheckedId.size === 0"
    (click)="showModalDieuPhoi('Dieu_phoi_nhieu_don')"
  >
    <i nz-icon nzType="car" nzTheme="outline"></i>Điều phối đơn ({{
      setOfCheckedId.size
    }})
  </button>
</div>
<nz-table
  #basicTable
  [nzLoading]="!dsDonHang.length"
  nzBordered
  nzShowPagination
  nzShowSizeChanger
  [nzData]="dsDonHang"
  nzTableLayout="fixed"
  nzSize="middle"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th
        nzWidth="35px"
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>Thông tin đơn hàng</th>
      <th>Thông tin người gửi</th>
      <th>Thông tin người nhận</th>
      <th>Thông tin tài chính</th>
      <th nzWidth="130px">Thời gian tạo</th>
      <th nzWidth="40px">TT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
      ></td>
      <td>
        <ul>
          <li nz-typography nzCopyable [nzCopyText]="data.maDonHang">
            <b>Mã đơn:</b> {{ data.maDonHang }}
          </li>
          <li><b>Tổng hàng:</b> {{ data.dsHangHoa?.length }} (món)</li>
          <li>
            <div [ngSwitch]="data.trangThai">
              <b>Trạng thái: </b>
              <nz-tag *ngSwitchCase="'Cho_xac_nhan'" [nzColor]="'orange'"
                >Chờ xác nhận</nz-tag
              >
              <nz-tag *ngSwitchCase="'Cho_giao_hang'" [nzColor]="'blue'"
                >Chờ giao hàng</nz-tag
              >
              <nz-tag *ngSwitchCase="'Dang_giao'" [nzColor]="'magenta'"
                >Đang giao</nz-tag
              >
              <nz-tag *ngSwitchCase="'Hoan_thanh'" [nzColor]="'green'"
                >Hoàn thành</nz-tag
              >
              <nz-tag *ngSwitchCase="'Don_bi_huy'" [nzColor]="'red'"
                >Đơn bị huỷ</nz-tag
              >
              <div *ngSwitchDefault>No state</div>
            </div>
          </li>
          <li>
            <b>Ngày tạo:</b>
            {{ data.thoiGianKhoiTao | date: "dd/MM/YYYY, h:mm a" }}
          </li>
          <li><b style="color: red">Ghi chú:</b> {{ data.ghiChu }}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li><b>Người gửi:</b> {{ data.khachHang.tenKhachHang }}</li>
          <li><b>Số điện thoại:</b> {{ data.khachHang.sdt }}</li>
          <li><b>Địa chỉ:</b> {{ data.khachHang.diaChi }}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li><b>Người nhận:</b> {{ data.tenNguoiNhan }}</li>
          <li><b>Số điện thoại:</b> {{ data.sdtNguoiNhan }}</li>
          <li><b>Tỉnh/Thành:</b> {{ data.diaChi.tinhThanh }}</li>
          <li><b>Quận/Huyện:</b> {{ data.diaChi.quanHuyen }}</li>
          <li><b>Phường/Xã:</b> {{ data.diaChi.phuongXa }}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li><b>Người trả phí:</b> {{ data.nguoiTraPhiShip }}</li>
          <li>
            <b>Phí vận chuyển:</b>
            {{ data.phiShip | currency: "VNĐ":"symbol":"1.0-2":"vi" }}
          </li>
          <li>
            <b>Tiền thu hộ: </b>

            <span style="color: rgb(6, 190, 6); font-weight: bold">{{
              data.tongTienThuHo | currency: "VNĐ":"symbol":"1.0-2":"vi"
            }}</span>
          </li>
        </ul>
      </td>
      <td>{{ data.thoiGianKhoiTao | formatDistance }}</td>
      <td>
        <a
          nz-tooltip
          nzTooltipTitle="Thông tin chi tiết"
          nzTooltipPlacement="left"
          nz-button
          nzType="primary"
          nzSize="small"
          nzShape="circle"
          [routerLink]="['/don-hang/chi-tiet/', data.id]"
          routerLinkActive="router-link-active"
        >
          <i nz-icon nzType="info-circle"></i></a
        ><br />
        <a
          style="margin: 5px 0px"
          nz-tooltip
          nzTooltipTitle="Chỉnh sửa đơn hàng"
          nzTooltipPlacement="left"
          nz-button
          nzType="default"
          nzSize="small"
          nzShape="circle"
          [routerLink]="['/don-hang/cap-nhat/', data.id]"
          routerLinkActive="router-link-active"
        >
          <i nz-icon nzType="edit"></i>
        </a>
        <br />
        <a
          *ngIf="
            data.trangThai !== 'Cho_xac_nhan' && data.trangThai !== 'Hoan_thanh'
          "
          nz-tooltip
          nzTooltipTitle="Tiếp nhận đơn hàng"
          nzTooltipPlacement="left"
          nz-button
          nzType="default"
          nzSize="small"
          nzShape="circle"
          (click)="showModalTiepNhanDon(data.id)"
        >
          <i nz-icon nzType="reconciliation"></i>
        </a>
        <br />
        <a
          *ngIf="
            data.trangThai === 'Cho_giao_hang' &&
            data.trangThai !== 'Hoan_thanh'
          "
          style="margin-top: 5px"
          nz-tooltip
          nzTooltipTitle="Điều phối đơn hàng"
          nzTooltipPlacement="left"
          nz-button
          nzType="default"
          nzSize="small"
          nzShape="circle"
          (click)="showModalDieuPhoi(data.id)"
        >
          <i nz-icon nzType="car"></i>
        </a>
        <br />
        <a
          style="margin-top: 5px"
          nz-tooltip
          nzTooltipTitle="Xoá đơn hàng"
          nzTooltipPlacement="left"
          nz-button
          nzDanger
          nzSize="small"
          nzShape="circle"
          (click)="showXoaDonHang(data.id)"
        >
          <i nz-icon nzType="clear"></i>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
<!-- Modal tiếp nhận đơn -->
<nz-modal
  [(nzVisible)]="isVisibleTiepNhan"
  [nzTitle]="tiepNhanTittle"
  (nzOnCancel)="handleCancelTiepNhanDon()"
  (nzOnOk)="handleOkTiepNhanDon()"
>
  <ng-template #tiepNhanTittle><b>Tiếp nhận đơn hàng</b></ng-template>
  <ng-container *nzModalContent>
    <p>
      Xác nhận việc tiếp nhận đơn hàng tại <b>{{ tenTramTTC }}?</b>
    </p>
  </ng-container>
</nz-modal>

<!-- Modal Điều phối đơn -->
<nz-modal
  [(nzVisible)]="isVisibleDieuPhoi"
  [nzTitle]="dieuPhoiTittle"
  (nzOnCancel)="handleCancelDieuPhoi()"
  (nzOnOk)="handleOkDieuPhoi()"
  nzWidth="400px"
>
  <ng-template #dieuPhoiTittle><b>Điều phối đơn hàng</b></ng-template>
  <ng-container *nzModalContent>
    <nz-form-item>
      <nz-form-label [nzSpan]="16"
        >Lựa chọn Shipper hoặc
        <a
          nz-button
          nzType="link"
          nzSize="small"
          [routerLink]="['/quan-ly-shipper/tao-moi']"
          ><b>Thêm mới</b></a
        ></nz-form-label
      >
      <nz-form-control [nzSm]="24">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Chọn Shipper..."
          [(ngModel)]="valueShipper"
          [ngModelOptions]="{ standalone: true }"
        >
          <nz-option
            *ngFor="let kh of dsShipper"
            [nzLabel]="kh.hoTen + ' - ' + kh.sdt"
            [nzValue]="kh"
          ></nz-option>
        </nz-select>
      </nz-form-control>
      <br />
      <i style="color: darkgray"
        ><span style="color: darkred; font-weight: bold">Lưu ý:</span> Đơn hàng
        đã được điều phối cho Shipper trước đó, nếu muốn thay đổi Shipper, vui
        lòng vào Chỉnh sửa đơn hàng!</i
      >
      <ul
        style="margin-bottom: -30px; margin-top: 10px; list-style-type: square"
      >
        <li>
          <b>Họ tên Shipper: </b>
          <a><span [innerHTML]="valueShipper?.hoTen"></span></a>
        </li>
        <li><b>Số điện thoại:</b> {{ valueShipper?.sdt }}</li>
        <li><b>Địa chỉ:</b> {{ valueShipper?.diaChi }}</li>
      </ul>
    </nz-form-item>
  </ng-container>
</nz-modal>
