<div id="vegetable" class="vegetable">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Hệ thống <strong class="llow">Quản lý giao vận</strong></h2>
          <p>
            Mang đến sự tiện lợi trong việc quản lý hệ thống trong dịch dịch vụ
            giao vận, dễ dàng kiểm soát và nắm bắt thông tin tiến trình của từng
            đơn hàng.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
        <div class="vegetable_shop">
          <h3>Thông tin hệ thống</h3>
          <ul style="margin-left: 20px; list-style: circle">
            <li>
              <p><b>Phiên bản:</b> v1.0</p>
            </li>
            <li>
              <p><b>Người thực hiện:</b> Hà Việt Tùng</p>
            </li>
            <li>
              <p><b>Nền tảng:</b> Web</p>
            </li>
            <li>
              <p><b>Backend:</b> Spring Boot 2.3</p>
            </li>
            <li>
              <p><b>Frontend:</b>: Angular 11</p>
            </li>
            <li>
              <p><b>Database:</b>: MySQL</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
        <div class="vegetable_img">
          <figure>
            <img src="../assets/img/logoDark.png" alt="Logo" />
          </figure>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <!-- <div class="vegetable_img margin_top">
          <figure><img src="../assets/img/logoDark.png" alt="#" /></figure>
          <span>02</span>
        </div> -->
      </div>
    </div>
  </div>
</div>
