<div class="home">
  <div class="container">
    <div class="card">
      <div class="circle">
        <h1>Tạo đơn</h1>
      </div>
      <div class="content">
        <p>Thành lập đơn hàng nhanh chóng và dễ dàng,..</p>
        <a href="#">Truy cập</a>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <h1>Quản lý</h1>
      </div>
      <div class="content">
        <p>
          Hệ thống giúp tiết kiệm được nhiều thời gian cũng như kiểm soát hoạt
          động giao hàng một cách hiệu quả hơn.
        </p>
        <a href="#">Truy cập</a>
      </div>
    </div>
    <div class="card">
      <div class="circle">
        <h1>Tra cứu</h1>
      </div>
      <div class="content">
        <p>
          Thông tin về đơn hàng được hiển thị chi tiết và cụ thể giúp nắm rõ
          tình trạng và vị trí hiện tại của đơn hàng.
        </p>
        <a href="#">Truy cập</a>
      </div>
    </div>
  </div>
</div>
