<nz-table
  #sortTable
  [nzData]="dsKhachHang"
  nzTableLayout="fixed"
  nzShowSizeChanger
  nzSize="middle"
  nzBordered
>
  <thead>
    <tr>
      <th nzWidth="50px">ID</th>
      <th nzWidth="190px">Tên khách hàng</th>
      <th nzWidth="100px">SĐT</th>
      <th nzWidth="110px">Tổng số đơn</th>
      <th>E-mail</th>
      <th>Địa chỉ</th>
      <th nzWidth="150px">Cập nhật gần nhất</th>
      <th nzWidth="120px">Lựa chọn</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.id }}</td>
      <td>
        <a nzType="link"
          ><b class="name">{{ data.tenKhachHang | uppercase }}</b></a
        >
      </td>
      <td>{{ data.sdt }}</td>
      <td>
        <nz-tag nzColor="#3b5999">
          <i nz-icon nzType="carry-out"></i>
          <span
            ><b>{{ data.soDonHang }}</b> <i> đơn hàng</i></span
          >
        </nz-tag>
      </td>
      <td>{{ data.email }}</td>
      <td>{{ data.diaChi }}</td>
      <td>{{ data.thoiGianCapNhat | formatDistance }}</td>
      <td class="action">
        <a
          class="edit"
          [routerLink]="['/quan-ly-khach-hang/cap-nhat', data.id]"
          routerLinkActive="router-link-active"
          ><i nz-icon nzType="edit" nzTheme="outline"></i> Sửa</a
        >

        <nz-divider nzType="vertical"></nz-divider>
        <a
          class="delete"
          nz-popconfirm
          nzPopconfirmTitle="Xoá nhân viên: {{ data.tenKhachHang | uppercase }}"
          (nzOnConfirm)="deleteRow(data.id)"
          ><i nz-icon nzType="delete" nzTheme="outline"></i> Xoá</a
        >
      </td>
    </tr>
  </tbody>
</nz-table>
