.head {
  overflow: hidden;
  display: block;
  margin-bottom: 5px;
  .left-tilte {
    float: left;
    h2 {
      font-weight: bolder;
      font-family: "Pacifico", cursive;
    }
  }

  .right-button {
    display: flex;
    float: right;
    margin-right: 5px;
  }
}

.action {
  .edit {
    color: rgb(0, 183, 255);
  }
  .edit:hover {
    color: rgb(0, 60, 255);
    font-weight: bold;
  }
  .delete {
    color: rgb(255, 0, 0);
  }
  .delete:hover {
    color: rgba(153, 4, 4, 0.856);
    font-weight: bold;
  }
  .forget {
    color: rgb(119, 0, 255);
  }
  .forget:hover {
    color: rgba(77, 2, 199, 0.856);
    font-weight: bold;
  }
}

.name {
  transition: 0.5s ease;
}
.name:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  .head {
    text-align: center;
    .left-tilte {
      float: none;
    }

    .right-button {
      float: right;
      margin-bottom: 5px;
      width: 85vw;
    }
  }
}
