.layout {
  min-height: 100vh;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 35px;
  width: 55px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 7px;
  color: #fff;
  font-size: 17px;
  font-family: "Pacifico", cursive;
  vertical-align: middle;
}

.header-menu {
  line-height: 50px;
  float: right;
}

nz-header {
  background: #001529;
  padding: 0;
  height: fit-content;
}

nz-content {
  margin: 15px 15px 0;
}

.inner-content {
  padding: 15px;
  background: #fff;
  border: 1px solid #dad8d8;
  // height: 83vh;
}

nz-footer {
  text-align: center;
}

.ant-layout-footer {
  padding: 15px 50px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

// Chi tiết nhân viên
.ant-descriptions-item-label {
  font-weight: bold !important;
}

.container {
  overflow: hidden;
  .left {
    width: 70%;
    float: left;
  }
  .right {
    text-align: center;
    width: 30%;
    float: right;
    img {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
