<nz-layout class="layout">
  <nz-sider
    *ngIf="isLoggedIn"
    nzWidth="215px"
    nzCollapsible
    nzBreakpoint="xl"
    [nzCollapsedWidth]="0"
  >
    <div class="sidebar-logo">
      <a href="/home">
        <img src="../assets/img/logoLight.png" alt="logo" />
        <h1>Quản lý giao vận</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <!-- Module đơn hàng -->
      <li nz-submenu nzOpen nzTitle="Đơn hàng" nzIcon="profile">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="file-add" nzTheme="outline"></i>
            <a routerLink="/don-hang/tao-don-hang">Tạo đơn hàng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="table" nzTheme="outline"></i>
            <a routerLink="/don-hang/danh-sach-don-hang">Danh sách đơn hàng</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="search" nzTheme="outline"></i>
            <a routerLink="/don-hang/tra-cuu">Tra cứu đơn</a>
          </li>
        </ul>
      </li>
      <!-- Module Shipper -->
      <li nz-submenu nzOpen nzTitle="Shipper" nzIcon="car">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="solution" nzTheme="outline"></i>
            <a
              [routerLink]="['/quan-ly-shipper']"
              routerLinkActive="router-link-active"
              >Danh sách Shipper</a
            >
          </li>
        </ul>
      </li>
      <!-- Module Khách hàng -->
      <li nz-submenu nzOpen nzTitle="Khách hàng" nzIcon="shop">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="audit" nzTheme="outline"></i>
            <a
              [routerLink]="['/quan-ly-khach-hang']"
              routerLinkActive="router-link-active"
              >Danh sách khách hàng</a
            >
          </li>
        </ul>
      </li>
      <!-- Module Thống kê -->
      <li
        nz-submenu
        nzTitle="Thống kê"
        nzIcon="bar-chart"
        *ngIf="showAdminBoard"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="area-chart" nzTheme="outline"></i>
            <a
              [routerLink]="['/thong-ke']"
              routerLinkActive="router-link-active"
              >Thống kê hệ thống</a
            >
          </li>
        </ul>
      </li>
      <!-- Module Quản lý nhân viên -->
      <li
        nzOpen
        nz-submenu
        nzTitle="Quản lý nhân viên"
        nzIcon="team"
        *ngIf="showAdminBoard"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="profile" nzTheme="outline"></i>
            <a routerLink="/quan-ly-nhan-vien">Danh sách nhân viên</a>
          </li>
        </ul>
      </li>
      <!-- Module Trạm trung chuyển -->
      <li
        nz-submenu
        nzTitle="Trạm trung chuyển"
        nzIcon="reconciliation"
        *ngIf="showAdminBoard"
      >
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="profile" nzTheme="outline"></i>
            <a routerLink="/tram-trung-chuyen">Danh sách trạm</a>
          </li>
        </ul>
      </li>
      <!-- Hệ thống -->
      <li nz-submenu nzTitle="Hệ thống" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="info-circle" nzTheme="outline"></i>
            <a
              [routerLink]="['/info-website']"
              routerLinkActive="router-link-active"
              >Thông tin Website</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <!-- Header  -->
    <nz-header *ngIf="isLoggedIn">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzSelected>
          <a nz-buttonnzType="link" (click)="isVisible = true">
            <nz-avatar nzIcon="user" [nzSrc]="retrievedAvatar"></nz-avatar>
            {{ nhanVien?.hoTen | uppercase }}</a
          >
        </li>
        <li nz-menu-item>
          <a nz-buttonnzType="link" (click)="logout()"
            ><i nz-icon nzType="logout" nzTheme="outline"></i>Đăng xuất</a
          >
        </li>
      </ul>
    </nz-header>
    <!-- Nội dung -->
    <nz-content>
      <div class="inner-content"><router-outlet></router-outlet></div>
    </nz-content>
    <nz-footer>Hà Việt Tùng ©2021 Tiểu luận Quản lý giao vận</nz-footer>
  </nz-layout>
</nz-layout>

<!-- Chi tiết tài khoản -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Thông tin tài khoản"
  [nzWidth]="800"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <div class="container">
      <div class="left">
        <nz-descriptions [nzColumn]="2" [nzTitle]="hoTen">
          <ng-template #hoTen>
            <label
              style="
                color: #ff0000;
                border: 2px solid #000000;
                padding: 0px 5px;
              "
              >{{ nhanVien.hoTen }}</label
            >
          </ng-template>
          <nz-descriptions-item nzTitle="E-mail" [nzSpan]="1">{{
            nhanVien.taiKhoan.email
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="ID" [nzSpan]="1">{{
            nhanVien.id
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Giới tính" [nzSpan]="1">{{
            nhanVien.gioiTinh
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="SĐT" [nzSpan]="1">{{
            nhanVien.sdt
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Ngày sinh" [nzSpan]="1">{{
            nhanVien.ngaySinh | date: "dd-MM-YYYY"
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Chức vụ" [nzSpan]="1"
            ><div *ngIf="nhanVien.taiKhoan.quyenHan.length > 1; else employee">
              Quản lý trong hệ thống
            </div></nz-descriptions-item
          >
          <ng-template #employee>Nhân viên trong hệ thống</ng-template>
          <nz-descriptions-item
            *ngIf="nhanVien.trangThai === 'Dang_hoat_dong'; else tamNghi"
            nzTitle="Trạng thái"
            [nzSpan]="1"
          >
            <nz-tag nzColor="success"
              >Đang hoạt động</nz-tag
            ></nz-descriptions-item
          >
          <ng-template #tamNghi>
            <nz-descriptions-item nzTitle="Trạng thái" [nzSpan]="1">
              <nz-tag nzColor="warning">Tạm nghỉ</nz-tag></nz-descriptions-item
            ></ng-template
          >
          <nz-descriptions-item nzTitle="Lần cuối đăng nhập" [nzSpan]="1"
            ><i>{{
              nhanVien.lanCuoiDangNhap | date: "short"
            }}</i></nz-descriptions-item
          >
          <nz-descriptions-item nzTitle="Thời gian khởi tạo" [nzSpan]="1"
            ><i>{{
              nhanVien.thoiGianKhoiTao | date: "short"
            }}</i></nz-descriptions-item
          >
          <nz-descriptions-item nzTitle="Lần cập nhật cuối" [nzSpan]="1"
            ><i>{{
              nhanVien.thoiGianChinhSua | date: "short"
            }}</i></nz-descriptions-item
          >

          <nz-descriptions-item nzTitle="Địa chỉ" [nzSpan]="2">{{
            nhanVien.diaChi
          }}</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <div class="right">
        <p><b>Hình đại diện</b></p>
        <img
          nz-image
          width="200px"
          height="200px"
          [nzSrc]="retrievedAvatar"
          alt="Ảnh đại diện"
        />
        <br />
        <small>Ấn vào để xem đầy đủ</small>
      </div>
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Huỷ</button>
    <button nz-button nzType="primary" (click)="showModal()">
      Thay đổi mật khẩu
    </button>
  </ng-template>
</nz-modal>

<!-- Thay đổi pass -->
<nz-modal
  [(nzVisible)]="isVisibleFormHH"
  nzTitle="Thay đổi mật khẩu"
  (nzOnCancel)="handleCancelForm()"
  [nzFooter]="modalFooterForm"
  [nzWidth]="500"
>
  <ng-container *nzModalContent>
    <form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
          >Mật khẩu mới</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Vui lòng nhập mật khẩu, ít nhất 6 ký tự!"
        >
          <input
            nz-input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Nhập mật khẩu mới..."
            (ngModelChange)="updateConfirmValidator()"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired
          >Xác nhận</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
          <input
            nz-input
            type="password"
            formControlName="checkPassword"
            placeholder="Xác nhận lại mật khẩu mới..."
            id="checkPassword"
          />
          <ng-template #errorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Vui lòng xác nhận mật khẩu!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              2 mật khẩu chưa khớp nhau!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-template #modalFooterForm>
    <button
      [disabled]="!this.validateForm.valid"
      nz-button
      nzType="primary"
      (click)="handleChangPass()"
    >
      Thay đổi
    </button>
  </ng-template>
</nz-modal>
