.head {
  overflow: hidden;
  display: block;
  margin-bottom: 5px;
  .left-tilte {
    float: left;
    h2 {
      font-weight: bolder;
      font-family: "Pacifico", cursive;
    }
  }

  .right-button {
    display: flex;
    float: right;
    margin-right: 5px;
  }
}
