<nz-table
  #tableData
  [nzData]="dsShipper"
  nzTableLayout="fixed"
  nzShowSizeChanger
  nzSize="middle"
  nzBordered
>
  <thead>
    <tr>
      <th nzWidth="40px">ID</th>
      <th nzWidth="190px">Họ tên</th>
      <th nzWidth="90px">Tổng đơn hàng</th>
      <th nzWidth="90px">SĐT</th>
      <th nzWidth="130px">E-mail</th>
      <th nzWidth="110px">Trạng thái</th>
      <th nzWidth="150px">Cập nhật gần nhất</th>
      <th nzWidth="120px">Lựa chọn</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData.data">
      <td>{{ data.id }}</td>
      <td>
        <a nzType="link" (click)="this.chiTietSP.showModal(data.id)"
          ><b class="name">{{ data.hoTen | uppercase }}</b></a
        >
      </td>
      <td>
        <nz-tag nzColor="#ff5000">
          <i nz-icon nzType="car"></i>
          <span
            ><b>{{ data.soDonHang }}</b> <i> đơn hàng</i></span
          >
        </nz-tag>
      </td>
      <td>{{ data.sdt }}</td>
      <td>{{ data.email }}</td>
      <td>
        <nz-tag
          *ngIf="data.trangThai === 'Co_the_nhan_hang'"
          [nzColor]="'green'"
          >Có thể nhận hàng</nz-tag
        >
        <nz-tag *ngIf="data.trangThai === 'Dang_giao_hang'" [nzColor]="'blue'">
          <span>Đang giao hàng</span>
        </nz-tag>
        <nz-tag *ngIf="data.trangThai === 'Bi_khoa'" [nzColor]="'red'"
          >Bị khoá</nz-tag
        >
        <nz-tag *ngIf="data.trangThai === 'Tam_nghi'" [nzColor]="'gold'"
          >Tạm nghỉ</nz-tag
        >
      </td>
      <td>{{ data.thoiGianCapNhat | formatDistance }}</td>
      <td class="action">
        <a
          class="edit"
          [routerLink]="['/quan-ly-shipper/cap-nhat', data.id]"
          routerLinkActive="router-link-active"
          ><i nz-icon nzType="edit" nzTheme="outline"></i> Sửa</a
        >

        <nz-divider nzType="vertical"></nz-divider>
        <a
          class="delete"
          nz-popconfirm
          nzPopconfirmTitle="Xoá nhân viên: {{ data.hoTen | uppercase }}"
          (nzOnConfirm)="deleteRow(data.id)"
          ><i nz-icon nzType="delete" nzTheme="outline"></i> Xoá</a
        >
      </td>
    </tr>
  </tbody>
</nz-table>
<app-chi-tiet-shipper></app-chi-tiet-shipper>
