<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="650"
  [nzVisible]="visible"
  nzTitle="Tạo mới nhân viên"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form [formGroup]="formNhanVien" *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Họ tên</nz-form-label>
          <nz-form-control nzErrorTip="Không được bỏ trống!">
            <input
              formControlName="hoTen"
              nz-input
              placeholder="Nhập họ tên nhân viên..."
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Điện thoại</nz-form-label>
          <nz-form-control nzErrorTip="Nhập đúng SĐT và không được bỏ trống!">
            <input
              formControlName="sdt"
              nz-input
              placeholder="Nhập số điện thoại..."
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Giới tính</nz-form-label>
          <nz-form-control nzErrorTip="Không được bỏ trống!">
            <nz-radio-group formControlName="gioiTinh">
              <label nz-radio nzValue="Nam">Nam</label>
              <label nz-radio nzValue="Nữ">Nữ</label>
              <label nz-radio nzValue="Không rõ">Khác</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Ngày sinh</nz-form-label>
          <nz-form-control nzErrorTip="Không được bỏ trống!">
            <nz-date-picker
              formControlName="ngaySinh"
              nzFormat="dd-MM-YYYY"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Địa chỉ</nz-form-label>
          <nz-form-control nzErrorTip="Không được bỏ trống!">
            <input
              formControlName="diaChi"
              nz-input
              placeholder="Nhập địa chỉ..."
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Trạng thái</nz-form-label>
          <nz-form-control nzErrorTip="Không được bỏ trống!">
            <nz-select
              formControlName="trangThai"
              nzPlaceHolder="Chọn trạng thái"
            >
              <nz-option nzValue="Tam_nghi" nzLabel="Tạm nghỉ"></nz-option>
              <nz-option
                nzValue="Dang_hoat_dong"
                nzLabel="Đang hoạt động"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Trạm làm việc</nz-form-label>
          <nz-form-control nzErrorTip="Không được bỏ trống!">
            <nz-select
              formControlName="maTram"
              nzPlaceHolder="Chọn trạm làm việc..."
            >
              <nz-option
                *ngFor="let ttc of dsTram"
                [nzLabel]="ttc.tenTram"
                [nzValue]="ttc.maTram"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Quyền hạn</nz-form-label>
          <nz-form-control nzErrorTip="Không được bỏ trống!">
            <nz-radio-group formControlName="quyenHan">
              <label nz-radio nzValue="ROLE_EMPLOYEE">Nhân viên</label>
              <label nz-radio nzValue="ROLE_ADMIN">Quản lý</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Hình đại diện</nz-form-label>
          <nz-form-control>
            <input
              type="file"
              accept="image/x-png, image/gif, image/jpeg"
              (change)="handleFile($event)"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>&nbsp;&nbsp;&nbsp; Xem trước</nz-form-label>
          <img
            nz-image
            height="150px"
            [nzSrc]="imageURL || 'http://placehold.it/180'"
            alt="Hình đại diện"
          />
        </nz-form-item>
      </div>
    </div>
    <!-- Account -->
    <nz-divider nzDashed [nzText]="text">
      <ng-template #text
        ><i nz-icon nzType="credit-card" nzTheme="outline"></i> Tài
        khoản</ng-template
      >
    </nz-divider>
    <form nz-form formGroupName="taiKhoan">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired
          >Tên tài khoản</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Ít nhất 3 ký tự, viết liền và không bỏ trống!"
        >
          <input
            nz-input
            formControlName="username"
            placeholder="Nhập tên tài khoản..."
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
          >Email</nz-form-label
        >
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Nhập đúng Email!">
          <input nz-input formControlName="email" placeholder="Nhập email..." />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
          >Mật khẩu</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Ít nhất 6 ký tự và không được bỏ trống!"
        >
          <input
            nz-input
            type="password"
            formControlName="password"
            placeholder="Nhập mật khẩu..."
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </form>

  <ng-template #footerTpl>
    <div style="float: right; margin-right: 15px">
      <button nz-button style="margin-right: 8px" (click)="close()">
        <i nz-icon nzType="close" nzTheme="outline"></i> Huỷ bỏ
      </button>
      <button
        [disabled]="!this.formNhanVien.valid"
        nz-button
        nzType="primary"
        (click)="submitForm()"
      >
        <i nz-icon nzType="check" nzTheme="outline"></i> Hoàn tất
      </button>
    </div>
  </ng-template>
</nz-drawer>
