@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll bar global*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #001529;
}
::-webkit-scrollbar-thumb {
  background: #ff0062;
}
::-webkit-scrollbar-thumb:hover {
  background: #6d022b;
}
