@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll bar global*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #001529;
}
::-webkit-scrollbar-thumb {
  background: #ff0062;
}
::-webkit-scrollbar-thumb:hover {
  background: #d8d8d8;
}

.ant-table-thead > tr > th {
  font-weight: bold;
}
.ant-drawer-title {
  font-weight: 900 !important;
}

.ant-descriptions-item-label {
  font-weight: bold !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 700;
}
