<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Thông tin chi tiết"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="600"
>
  <ng-container *nzModalContent>
    <div class="container">
      <div class="left">
        <nz-descriptions [nzColumn]="2" [nzTitle]="hoTen">
          <ng-template #hoTen>
            <label
              style="
                color: #1890ff;
                border: 2px solid #1890ff;
                padding: 0px 5px;
              "
              >{{ khachHang.tenKhachHang }}</label
            >
          </ng-template>
          <nz-descriptions-item nzTitle="ID" [nzSpan]="1">{{
            khachHang.id
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Số tài khoản" [nzSpan]="1">{{
            khachHang.soTaiKhoan
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="SĐT" [nzSpan]="1">{{
            khachHang.sdt
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Loại khách hàng" [nzSpan]="1">{{
            khachHang.loaiKhachHang
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="E-mail" [nzSpan]="1">{{
            khachHang.email
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="CMND" [nzSpan]="1"
            >{{ khachHang.cmnd }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Thời gian khởi tạo" [nzSpan]="1"
            ><i>{{
              khachHang.thoiGianKhoiTao | date: "short"
            }}</i></nz-descriptions-item
          >
          <nz-descriptions-item nzTitle="Lần cập nhật cuối" [nzSpan]="1"
            ><i>{{
              khachHang.thoiGianCapNhat | date: "short"
            }}</i></nz-descriptions-item
          >

          <nz-descriptions-item nzTitle="Địa chỉ" [nzSpan]="2">{{
            khachHang.diaChi
          }}</nz-descriptions-item>
        </nz-descriptions>
      </div>
    </div>
  </ng-container>
</nz-modal>
